# macOS
.DS_Store
.AppleDouble
.LSOverride
*.swp

# IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Node
node_modules/
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/

# OS
Thumbs.db
.env
.env.local
